<template>
  <div class="hamster mx-auto">
    <img alt="mixHamster logo" class="img-fluid w-15" src="../assets/img/mixHamster.png" @click="reach('/')">
    <h1 class="mw-100"><b @click="reach('/')"><span class="text-danger">mix</span><span class="text-secondary">Hamster</span></b></h1>
  </div>
</template>

<script>
export default {
    name: 'hamster',
    mounted:function() {
        if(this.$cookies.isKey('mixHamuser'))
            this.$http.defaults.headers['x-auth-token'] = this.$cookies.get('mixHamuser').token;

        if(this.$cookies.isKey('mixHamuser')){
            this.loadFav();
            this.loadPlaylist();
            this.loadHistory();
        }
    },

    methods: {
        reach(path) {
            this.$router.push(path).catch(() => {});
        },

        loadFav(){
            this.$http.post("/api/playlists/getFavorite").then(response => {
                this.$favoris.set(response.data.playlist);
            }).catch(error => {
                console.log(error);
            });
        },

        loadHistory(){
            this.$http.post("/api/playlists/getHistory").then(response => {
                this.$history.set(response.data.playlist);
            }).catch(error => {
                console.log(error);
            });
        },

        loadPlaylist(){
            this.$http.post("/api/playlists/getAll").then(response => {
                this.$playlists.set(response.data.playlists);
            }).catch(error => {
                console.log(error);
            });
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text-danger,.text-secondary,img{
    cursor:pointer;
}
</style>
