<template>
    <div id="homePage">
        <SearchPage v-if="$cookies.isKey('mixHamuser')"/>
        <IndexMenu v-else/>
    </div>
</template>

<script>
import SearchPage from './SearchPage'
import IndexMenu from './IndexMenu'

export default {
  name: 'homePage',

  components: {
      SearchPage,
      IndexMenu
  }
}
</script>