<template>
    <div id="indexMenu">
        <Hamster class="w-100"/>
        <form>
            <div class="form-group w-25 mx-auto">
                <button type="button" class="form-control my-2 btn btn-secondary" @click="reach('/log')">Connexion</button>
                <button type="button" class="form-control my-2 btn btn-outline-secondary" @click="reach('/sign')">Inscription</button>
                <router-link to="/search" class="text-danger">Continuer en tant qu'invité</router-link>
            </div>
        </form>
    </div>
</template>

<script>
import Hamster from './Hamster'

export default {
    name: 'indexMenu',

    components: {
        Hamster
    },

    methods: {
        reach(path) {
            this.$router.push(path).catch(() => {});
        }
    }

}
</script>