<template>
    <div id="logPage">
        <Hamster class="w-100"/>
        <form>
            <div class="form-group w-25 mx-auto">
                <input type="email" class="form-control my-2" placeholder="Courriel" v-model="user.mail" />
                <input type="password" class="form-control my-2" placeholder="Mot de passe" v-model="user.password" @keyup.enter="login()" />
                <button type="button" class="form-control my-2 btn btn-secondary" @click="login()">Connexion</button>
                <div class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</div>
                <router-link to="/t_con" class="text-danger my-2">Mot de passe oublié ?</router-link><br/>
                <router-link to="/sign" class="text-danger my-2">S'inscrire</router-link>
            </div>
        </form>
    </div>
</template>

<script>
import Hamster from './Hamster'

export default {
    name: 'logPage',

    components: {
        Hamster
    },

    data() {
        return {
        user: {
            mail: "",
            password: ""
        },
        errorMessage: ""
        }
    },
    
    methods: {
        login() {
            if (this.user.mail != "" && this.user.password != "") {
                this.$http
                .post("/api/users/", {
                    mail: this.user.mail,
                    password: this.user.password
                })
                .then(response => {
                    if (response.data.success) {
                        let user = response.data.user;
                        user.token = response.data.token;
                        this.$http.defaults.headers['x-auth-token'] = user.token;
                        this.$cookies.set("mixHamuser", user);
                        this.$router.push("/").catch(() => {});
                    }
                })
                .catch(error => {
                    if (error.response.status == 418) {
                    this.errorMessage =
                        "Identifiants incorrects, veuillez vérifier votre courriel ou votre mot de passe.";
                    }
                });
            }
        }
    }
}
</script>