<template>
    <nav class="navbar navbar-light bg-light" v-if="$cookies.isKey('mixHamuser')">
        <router-link to="/profil" class="text-danger">{{$cookies.get('mixHamuser').pseudo}}</router-link>
        <form class="form-inline">
            <button class="btn btn-danger my-2 my-sm-0 mr-3" type="button" @click="reach(button.route)">{{button.text}}</button>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" @click="logOut()">Déconnexion</button>
        </form>
    </nav>
</template>

<script>

export default {
  name: 'navbar',
    
    props: {
        button:{
            type: Object,
            default: () => {
                return {"text": "Mes playlists", "route": "/playlists"};
            }
        },
    },
    methods: {
        reach(path) {
            this.$router.push(path).catch(() => {});
        },

        logOut() {
            this.$cookies.remove('mixHamuser');
            delete this.$http.defaults.headers['x-auth-token'];
            if(this.$route.name == 'home') this.$router.go();
            else this.$router.push('/').catch(() => {});
        }
    }
}
</script>