<template>
    <div id="pageNotFound">
        <h1>Bah alors on s'est perdu !?</h1>
        <img src="../assets/img/wilfried404.jpg" alt="wilfried" class="img-fluid w-25 rounded-circle my-3"/><br/>
        <router-link to="/" class="text-danger my-3">&gt; Rentrer à la maison. &lt;</router-link>
    </div>
</template>

<script>

export default {
    name: 'pageNotFound',

    components: {
    },

    methods:{
        
    }
}
</script>