<template>
    <div id="playlistView">
        <div class=''>
            <p class="mt-3" v-if='!playlist || !playlist == null'> Je n'ai pas trouvé la playlist, aled :'(</p>
            <div v-else v-bind="playlist">
                <div class="border-bottom text-danger w-100 m-0 row">
                    <span class='h2 col' >{{unescape(playlist.title)}}</span>
                    <icon v-if="canBeDeleted" :icon="['fas','trash-alt']" class='trash h6 col-1 my-auto pointer' aria-hidden="true" @click="showDeleteConfirm(playlist)"/>
                </div>
                <VideoList :videos="playlist.videos" :listId='playlist._id' class='mh-55 overflow-y' v-bind="playlist.video"/>
            </div>
        </div>
    </div>
</template>

<script>
import VideoList from './VideoList'

export default {
    name: 'playlistView',

    components: {
        VideoList
    },
    
    props: {
        playlist:{
            type: Object,
            default: () => null
        },
        canBeDeleted:{
            type: Boolean,
            default : false
        },
        isReverse:{
            type: Boolean,
            default : false
        }  

    },
    
    beforeUpdate() {
        if(this.isReverse){
            this.playlist.videos = this.playlist.videos.reverse();
        }
    },

    methods: {

        loadPlaylists(){
            this.$http.post("/api/playlists/getAll").then(response => {
                this.$playlists.set(response.data.playlists);
            }).catch(error => {
                console.log(error);
            });
        },

        unescape(string) {
            return new DOMParser().parseFromString(string,'text/html').querySelector('html').textContent;
        },

        showDeleteConfirm(playlist){
            this.$bvModal.msgBoxConfirm('Merci de confirmer la suppression de “' + unescape(playlist.title) + '”.', {
                title: 'Confirmation',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'OUI',
                cancelTitle: 'NON',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
            })
            .then(value => {
                if(value){
                    this.$http.put("/api/playlists/delete", {playlist : playlist}).then(response => {
                        this.loadPlaylists()
                        console.log(response);
                    }).catch(error => {
                        console.log(error);
                    });
                }
            })
            .catch(err => {
                console.log(err)
            })
        }
    }
}
</script>

<style scoped>
.trash{
    text-align: right;
}
.trash:hover{
    color: #2c3e50 !important;  
}
</style>