<template>
    <div id="playlistModal">
        <div class=''>
            <p class="mt-3" v-if='!video'>Vidéo inexistante, je pleure</p>
            <div v-else v-bind="video">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="playlist in $playlists.list" v-bind:key="playlist._id">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" :id="playlist.title" :checked="isIn(playlist)" @change="checkTest(playlist,$event)">
                            <label class="form-check-label" :for="playlist.title">{{playlist.title}}</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <span class='input-group-prepend  input-group-text pointer'>
                                <icon :icon="['fas','plus']" aria-hidden="true" class='' @click="add(playlistName)"/>
                            </span>
                            <input type="text" class="form-control col-6" placeholder="Nouvelle playlist" v-model="playlistName">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'playlistModal',

    components: {

    },

    data() {
        return{
            playlistName : ''
        }
    },

    props: {
        video:{
            type: Object,
            default: () => null
        }        
    },
    
    methods: {
        loadPlaylists(){
            this.$http.post("/api/playlists/getAll").then(response => {
                this.$playlists.set(response.data.playlists);
            }).catch(error => {
                console.log(error);
            });
        },

        add(playlistName){
            if(playlistName != ''){
                let playlist  = {title:playlistName, videos:[]};
                this.$http.post("/api/playlists/create", {playlist : playlist}).then(response => {
                    this.addIn(response.data.playlist);
                    playlistName = '';
                }).catch(error => {
                    console.log(error);
                });

                this.loadPlaylists()
            }
        },

        isIn(playlist){
            return playlist.videos.some(v => (v._id === this.video._id));
        },

        addIn(playlist){

            var vid = this.video

            this.$http.post("/api/videos/add", {video: this.video}).then(response => {
                vid = response.data.video.video;
                console.log(response);
            }).catch(error => {
                if(error.response.status == 409)
                    vid = this.video;
                else
                    console.log(error);
            }).finally(() => {
                this.$http.put("/api/playlists/add", {playlist : playlist, video: vid}).then(response => {
                    this.loadPlaylists()
                    console.log(response);
                }).catch(error => { 
                    console.log(error);
                })
            });

        },

        removeIn(playlist){
            this.$http.put("/api/playlists/remove", {playlist : playlist, video: this.video}).then(response => {
                this.loadPlaylists();
                console.log(response);
            }).catch(error => {
                console.log(error);
            });
        },

        checkTest(playlist, event){
            if (event.target.checked){this.addIn(playlist);}
            else{this.removeIn(playlist);}
        }
    }
}
</script>