<template>
    <div id="playlistsPage">
        <Navbar :button="{text:'Mon profil', route:'/profil'}"/>
        <Hamster class="w-25"/>
        <div class="w-75 mx-auto">
            <div class='border my-3'>
                <PlaylistView :playlist="$favoris" />
            </div>
            <h1 class="text-left">Mes playlists :</h1>
            <div class='border mb-3'>
                <PlaylistView v-for="playlist in $playlists.list" v-bind:key="playlist._id"
                :playlist="playlist" :canBeDeleted="true" class="border-bottom"/>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from './Navbar'
import Hamster from './Hamster'
import PlaylistView from './PlaylistView'

export default {
    name: 'playlistsPage',

    components: {
        Navbar,
        Hamster,
        PlaylistView
    },
    
    methods: {
        
    }
}
</script>