<template>
    <div id="profilPage">
        <Navbar/>
        <Hamster class="w-25"/>
            <form class="w-75 mx-auto">
                <div class="tab-content border mb-3 mh-55 overflow-y">
                    <div class="tab-pane fade show active" id="Paramètres">
                        <h2 class="border-bottom text-danger">Paramètres</h2>
                        <div class="form-group w-50 mx-auto">
                            <label for="Username" class="left-align">Nom d'utilisateur</label>
                            <input
                                type="text"
                                class="form-control my-2"
                                placeholder="Nom d'utilisateur"
                                v-model="user.pseudo"
                            />
                            <label for="Mail">Courriel</label>
                            <input
                                type="text"
                                class="form-control my-2"
                                placeholder="Courriel"
                                v-model="user.mail"
                            />
                            <label for="Password">Mot de passe</label>
                            <input
                                type="password"
                                class="form-control my-2"
                                placeholder="Mot de passe"
                                v-model="user.npassword"
                            />
                        </div>
                        <div class="mb-3">
                            <b-button @click="toggleModal()" class="btn btn-danger">Modifier</b-button>
                            <b-modal ref="modalPassword" title="Vérification identifiants">
                                <p class="my-4">Veuillez renseigner votre mot de passe</p>
                                <form>
                                    <div class="form-group mx-auto">
                                        <input
                                            type="password"
                                            class="form-control my-2"
                                            placeholder="Mot de passe"
                                            v-model="user.password"
                                        />
                                    </div>
                                    <div class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</div>
                                    <div class="alert alert-success" role="alert" v-if="validationMessage">{{validationMessage}}</div>
                                </form>
                                <template v-slot:modal-footer="{ ok, cancel}">
                                    <b-button  variant="danger" @click="loginAndUpdate()">
                                        Confirmer
                                    </b-button>
                                    <b-button  variant="outline-secondary" @click="closeModal()">
                                        Annuler
                                    </b-button>
                                </template>
                            </b-modal>
                        </div>
                    </div>
                </div>
            </form>
        
        <div class='border w-75 mx-auto mb-3'>
             <PlaylistView :playlist="$history" :isReverse='true'/>
        </div>

    </div>
</template>

<script>

import Hamster from './Hamster'
import Navbar from './Navbar'
import PlaylistView from './PlaylistView'


export default {
    name: 'watchPage',

    data: function(){
        return {
            user: {
                pseudo: this.$cookies.get('mixHamuser').pseudo,
                mail: this.$cookies.get('mixHamuser').mail,
                password: "",
                npassword: "*************"
            },
            errorMessage: "",
            validationMessage: "",
        };
    },


    components: {
        Hamster,
        Navbar,
        PlaylistView
    },

    methods:{

        loginAndUpdate(){
            if (this.user.mail != "" && this.user.password != "" && this.user.pseudo != "" && this.user.npassword != "") {
                this.$http
                .post("/api/users/", {
                    mail: this.$cookies.get('mixHamuser').mail,
                    password: this.user.password
                })
                .then(response => {
                    if (response.data.success && response.data.user.mail == this.user.mail && response.data.user.pseudo == this.user.pseudo && this.user.npassword == "*************") {
                        this.errorMessage = "Aucun champ n'a été modifié."
                    } else if(response.data.success){
                        let newUser = {
                            pseudo: this.user.pseudo,
                            mail: this.user.mail
                        };

                        newUser.password = this.user.npassword == "*************" ? this.user.password : this.user.npassword;
                        this.$http
                        .post("/api/users/update", newUser).then(response => {
                            if(response.data.success) {
                                let user = response.data.user;
                                if(response.data.token){
                                    user.token = response.data.token;
                                    this.$http.defaults.headers['x-auth-token'] = user.token;
                                } else {
                                    user.token = this.$cookies.get('mixHamuser').token;
                                }
                                this.$cookies.set("mixHamuser", user);
                                this.validationMessage = "Votre compte a bien été modifié."
                            }
                        }).catch(error => {
                            if(error.response.status == 418){
                                this.errorMessage = error.response.data.message
                            }
                            
                        })
                    }
                })
                .catch(error => {
                    if (error.response.status == 418) {
                    this.errorMessage =
                        "Identifiants incorrects, veuillez vérifier votre mot de passe.";
                    }
                });

            } else {
                this.errorMessage =
                        "Merci de renseigner tous les champs avant d'essayer de modifier votre compte.";
            }
        },
        closeModal() {
            this.errorMessage = ""
            this.$refs['modalPassword'].hide()
        },
        toggleModal() {
            this.$refs['modalPassword'].show()
        }
    }
}
</script>

<style scoped>

</style>