<template>
    <div id="searchPage">
        <Navbar/>
        <Hamster class="w-25"/>
        <div class="w-75 mx-auto">
            <div class="input-group md-form form-sm form-1 pl-0 w-50 mx-auto mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-danger" id="basic-text1" @click="search()">
                        <icon icon="search" class="text-white" aria-hidden="true"></icon>
                    </span>
                </div>
                <input class="form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Search" v-model="inputSearch" @keyup.enter="search()">
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item w-50">
                    <a class="nav-link active" href="#yt" data-toggle="tab">YouTube</a>
                </li>
                <li class="nav-item w-50">
                    <a class="nav-link" href="#rt" data-toggle="tab">RuTube</a>
                </li>
            </ul>

            <div class="tab-content border mb-3 mh-55 overflow-y">
                <div class="tab-pane fade show active" id="yt">
                    <div v-if='loading == true' class="loader d-flex justify-content-center align-content-center flex-wrap">
                        <b-spinner style="width: 3rem; height: 3rem;" class="" variant="danger"></b-spinner>
                    </div>
                    <videoList v-else :videos="result.youtube" @refresh='search()'/>
                </div>
                <div class="tab-pane fade" id="rt">
                    <div v-if='loading == true' class="loader d-flex justify-content-center align-content-center flex-wrap">
                        <b-spinner style="width: 3rem; height: 3rem;" class="" variant="danger"></b-spinner>
                    </div>
                    <videoList v-else :videos="result.rutube" @refresh='search()'/>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import VideoList from './VideoList'
import Hamster from './Hamster'
import Navbar from './Navbar'

export default {
    name: 'searchPage',

    components: {
        VideoList,
        Hamster,
        Navbar
    },

    data(){
        return{
            result : "",
            inputSearch : "",
            loading : false
        }
    },
    methods: {
        search() {
            this.loading = true;
            this.$http
                .post("/api/videos/search",{
                    keyword: this.inputSearch
                })
                .then(response => {
                    this.result=response.data;
                })
                .catch(error => {
                    this.result = "";
                    console.log(error);
                }).finally( () => {
                    this.loading = false;
                });
        }
    }
}
</script>

<style scoped>
.nav-link{
    border-color: #dee2e6 #dee2e6 #fff;
    color:#dc3545 !important;
}
.nav-link.active{
    background-color: #dc3545 !important;
    color:white !important;
}

.input-group-prepend{
    cursor:pointer;
}

.loader{
    height: 55vh;
}
</style>