<template>
  <div id="signPage">
    <Hamster class="w-100"/>
    <form>
      <div class="form-group w-25 mx-auto">
        <input
          type="text"
          class="form-control my-2"
          placeholder="Nom d'utilisateur"
          v-model="user.pseudo"
        />
        <input type="email" class="form-control my-2" placeholder="Courriel" v-model="user.mail" />
        <input
          type="password"
          class="form-control my-2"
          placeholder="Mot de passe"
          v-model="user.password"
        />
        <input
          type="password"
          class="form-control my-2"
          placeholder="Confirmez votre mot de passe"
          v-model="verifPassword"
          @keyup.enter="register()"
        />
        <button
          type="button"
          class="form-control my-2 btn btn-secondary"
          @click="register()">
          S'inscrire</button>
        <div class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</div>
        <router-link to="/log" class="text-danger">Se connecter</router-link>
      </div>
    </form>
  </div>
</template>

<script>
import Hamster from './Hamster'

export default {
  name: "signPage",

  data() {
    return {
      user: {
        mail: "",
        pseudo: "",
        password: ""
      },
      verifPassword: "",
      errorMessage: ""
    };
  },

  methods: {
      register(){
          if(this.user.mail != "" && this.user.pseudo != "" && this.user.password && this.verifPassword != ""){
              if(this.user.password === this.verifPassword){
                    this.$http.post("/api/users/register", {
                        pseudo: this.user.pseudo,
                        mail: this.user.mail,
                        password: this.user.password
                    }).then(response => {
                        if (response.data.success) {
                            
                            this.$http.post("/api/users/", {
                                mail: this.user.mail,
                                password: this.user.password
                            }).then(response => {
                                if (response.data.success) {
                                    let user = response.data.user;
                                    user.token = response.data.token;
                                    this.$http.defaults.headers['x-auth-token'] = user.token;

                                    let fav = {title: 'Favoris', videos: []}
                                    let history = {title: 'Historique', videos: []}
                                    
                                    this.$http.post("/api/playlists/create", {
                                        playlist : fav 
                                        }, {headers: {'x-auth-token': user.token}}
                                    ).then(() => {
                                        console.log("Playlist Favoris créée");
                                        this.$http.post("/api/playlists/create", {
                                                playlist : history
                                            }, {headers: {'x-auth-token': user.token}}
                                        ).then(() => {
                                            console.log("Playlist Historique créée");
                                        }).catch(error => {
                                            console.log(error.response.data);
                                        });
                                    }).catch(error => {
                                        console.log(error);
                                    });

                                    this.$cookies.set("mixHamuser", user);
                                    this.$router.push("/").catch(() => {});
                                }
                            }).catch(error => {
                                if (error.response.status == 418) {
                                this.errorMessage =
                                    "Identifiants incorrects, veuillez vérifier votre courriel ou votre mot de passe.";
                                }
                            });
                        }
                    }).catch(error => {
                        if (error.response.status == 418) {
                            this.errorMessage = "Ce courriel est déjà utilisé, veuillez utiliser un autre courriel.";
                        }
                    });        
              } else {
                this.errorMessage = "Les mots de passe ne correspondent pas, veuillez réessayer.";
              }
          } else {
              this.errorMessage = "Merci de renseigner tous les champs !";
          }
      }
  },
  components: {
      Hamster
  }
};
</script>