<template>
    <div id="videoList">
        <p class="my-3" v-if='videos == null || videos.length < 1'> Pas de vidéos trouvées :'(</p>
        <div v-else v-bind="videos">
            <div class="row border-bottom mx-0" v-for="video in videos" v-bind:key="video._id">
                <router-link class="col-3" :to="{ name: 'watch', params: {video: video } }">
                    <img class="w-100 my-auto" :src="video.thumbnailLink"/>
                </router-link>
                <div class="col my-auto">
                    <router-link :to="{ name: 'watch', params: {video: video} }">
                        <b class="text-secondary">{{unescape(video.title)}}</b>
                    </router-link>
                    <p>{{unescape(video.author)}}</p>
                    <p>Publié le {{video.date | formatDate}}</p>
                </div>
                <div v-if="$cookies.isKey('mixHamuser')" class="mx-3">

                    <icon :class="isIn(video)?'favStar-on':'favStar'" :icon="isIn(video)?['fas','star']:['far','star']" aria-hidden="true" @click="checkFav(video)"/><br/>
                        
                    <icon v-b-modal="'playlist-' + video._id + listId" id="playlistPlus" :icon="['fas','plus']" aria-hidden="true"/>

                    <b-modal :id="'playlist-' + video._id + listId" size='md' centered ok-only ok-variant='danger' 
                    :title="'Ajouter “' + unescape(video.title) + '” à une playlist'" title-tag='b' header-text-variant='secondary'>
                        <PlaylistModal :video="video"/>
                    </b-modal>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PlaylistModal from './PlaylistModal'

export default {
    name: 'videoList',

    components: {
        PlaylistModal
    },

    props: {
        videos:{
            type: Array,
            default: () => []
        },
        
        listId:{
            type: String,
            default: 'search'
        }
    },

    methods:{
        unescape(string) {
            return new DOMParser().parseFromString(string,'text/html').querySelector('html').textContent;
        },

        isIn(video){
            if(this.$favoris!=null){
                return this.$favoris.videos.some(v => (v._id == video._id));
            }
        },
        
        addToFav(video){
            if(this.$favoris!=null){

                let vid = video
                this.$http.post("/api/videos/add", {video: video}).then(response => {
                    vid = response.data.video.video;
                }).catch(error => {
                    if(error.response.status == 409)
                        vid = video;
                    else
                        console.log(error);
                }).finally(() => {
                        this.$http.put("/api/playlists/add", {playlist : this.$favoris, video: vid}).then(response => {
                            this.$favoris.set(response.data.playlist)
                            console.log(response);
                        }).catch(error => { 
                            console.log(error);
                        })
                    }
                );


            }

        },

        removeFromFav(video){
            if(this.$favoris!=null){
                this.$http.put("/api/playlists/remove", {playlist : this.$favoris, video: video}).then(response => {
                    this.$favoris.set(response.data.playlist)
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                });
            }
        },

        checkFav(video){
            if(this.isIn(video)){
                this.removeFromFav(video);
            }
            else {
                this.addToFav(video);
            }
        }
    }
}
</script>

<style scoped>

</style>