<template>
    <div id="watchPage">
        <Navbar/>
        <Hamster class="w-25"/>
        <div class="w-50 mx-auto mb-3">
            <p class="mt-3" v-if='!video'> Je n'ai pas trouvé la vidéo, oh no :'(</p>
            <div v-else>
                    <vue-plyr>
                        <div class="plyr__video-embed"  v-if="!video.link.includes('.mp4')">
                            <iframe id="player" :src="video.link" class="w-100" onload='this.style.height = (this.offsetWidth * 0.56) + "px" ;'/>
                        </div>
                        <video :poster="video.thumbnailLink" :src="video.link" v-else>
                        </video>
                    </vue-plyr>
                    <!-- <div class="col" id="player"></div> -->
                <div class="row">
                    <div class="col my-auto">
                        <b class="text-secondary">{{unescape(video.title)}}</b><br/>
                        <span> par <span class="text-danger">{{unescape(video.author)}}</span></span><br/>

                        <div v-if="$cookies.isKey('mixHamuser')">
                            <icon :class="isIn(video)?'favStar-on':'favStar'" :icon="isIn(video)?['fas','star']:['far','star']" aria-hidden="true" @click="checkFav(video)"/>                                
                            <icon v-b-modal="'playlist-' + video._id" id="playlistPlus" :icon="['fas','plus']" aria-hidden="true"/>

                            <b-modal :id="'playlist-' + video._id" size='md' centered ok-only ok-variant='danger' 
                            :title="'Ajouter “' + unescape(video.title) + '” à une playlist'" title-tag='b' header-text-variant='secondary'>
                                <PlaylistModal v-if="newVid != null" :video="newVid"/>
                                <PlaylistModal v-else :video="video"/>
                            </b-modal>
                        </div>

                        <span class="text-muted">Publiée le {{video.date | formatDate}} sur </span><img :src="getImg(video.platform)" alt="logo platform" class="w-15 img-thumbnail"/><br/>
                        <p>{{unescape(video.description)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Hamster from './Hamster'
import Navbar from './Navbar'
import PlaylistModal from './PlaylistModal'

export default {
    name: 'watchPage',

    components: {
        Hamster,
        Navbar,
        PlaylistModal
    },

    props: {
        video:{
            type: Object,
            default: () => null
        }        
    },

    data(){
        return{
            newVid : null
        }
    },
    mounted: function(){
        if(this.$cookies.isKey('mixHamuser')){
            this.addToHistory();
        }
    },

    beforeUpdate(){
        this.resize()
    },

    methods:{

        resize(){
            var player = document.getElementById("player");
            if(player != null)
                player.style.height = (player.offsetWidth * 0.56) + "px" ;
        },

        unescape(string) {
            return new DOMParser().parseFromString(string,'text/html').querySelector('html').textContent;
        },

        getImg(img){
            var images = require.context('../assets/img/', false, /\.jpg$/)
            return images('./' + img + ".jpg")
        },


        isIn(video){
            if(this.$cookies.isKey('mixHamuser')){
                console.log(this.newVid);
                if(this.newVid != null)
                   return this.$favoris.videos.some(v => (v._id == this.newVid._id));
                else
                    return this.$favoris.videos.some(v => (v._id == video._id));
            }
        },
        
        addToFav(video){
            if(this.$cookies.isKey('mixHamuser')){

                let vid = video
                this.$http.post("/api/videos/add", {video: video}).then(response => {
                    vid = response.data.video.video;
                }).catch(error => {
                    if(error.response.status == 409)
                        vid = video;
                    else
                        console.log(error);
                }).finally(() => {
                        this.$http.put("/api/playlists/add", {playlist : this.$favoris, video: vid}).then(response => {
                            this.$favoris.set(response.data.playlist)
                            console.log(response);
                        }).catch(error => { 
                            console.log(error);
                        })
                    }
                );


            }

        },

        removeFromFav(video){
            if(this.$cookies.isKey('mixHamuser')){
                this.$http.put("/api/playlists/remove", {playlist : this.$favoris, video: video}).then(response => {
                    this.$favoris.set(response.data.playlist)
                    console.log(response);
                }).catch(error => {
                    console.log(error);
                });
            }
        },

        checkFav(video){
            if(this.newVid != null)
                video = this.newVid;

            if(this.isIn(video)){
                this.removeFromFav(video);
            }
            else {
                this.addToFav(video);
            }
        },

        addToHistory(){
            if(!this.$history.videos.some(v => (v._id == this.video._id))){
                let vid = this.video
                this.$http.post("/api/videos/add", {video: this.video}).then(response => {
                    vid = response.data.video;
                    this.newVid = vid;
                }).catch(error => {
                    if(error.response.status == 409)
                        if(this.newVid != null)
                            vid = this.newVid;
                        else
                            vid = this.video;
                    else
                        console.log(error);
                }).finally(() => {
                        this.$http.put("/api/playlists/add", {playlist : this.$history, video: vid}).then(response => {
                            this.$history.set(response.data.playlist)
                            console.log(response);
                        }).catch(error => { 
                            console.log(error);
                        })
                    }
                );
            }
        }
    }
}
</script>

<style scoped>
img{
 border:none;   
}

.favStar, .favStar-on {
    margin-right: 1rem;
}

#watchpage{
    overflow: hidden;
}
</style>