<template>
    <div id="app">
        <div class="container-fluid">
            <router-view/>
        </div>
    </div>
</template>

<script>

export default {
    name: 'app',
    
    components: {
    }
}
</script>

<style lang="scss">
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.w-15{
    width: 15%;
}

.mh-55{
    max-height: 55vh;
}

.overflow-y{
    overflow-y: auto;
}

.container-fluid{
    margin-top: 60px
}

.navbar{
    top:0;
    left:0;
    position:absolute;
    width: 100%;
}

#playlistPlus:hover{
    color: #dc3545 !important;
}

.favStar:hover{
    color: #ffc107 !important;
}

.favStar-on{
    color: #ffc107 !important;
}

.favStar-on:hover{
    color: #2c3e50 !important;
}
.modal-footer .btn-primary{
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.modal-footer button .disabled{
    display: none !important;
}

.pointer{
    cursor:pointer; 
}
</style>
